<!DOCTYPE html>
<html>
<%= render 'layouts/header' %>
  <head>
    <title>ユーザー編集</title>
  </head>
  <body>
    <h1>編集ページです</h1>
    <%= link_to "Topへ", root_path, class: "btn btn-lg btn-primary" %>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
       <%= form_with model: @user, local: true do |f| %>
          <%= render 'shared/error_messages' %>

          <%= f.label :name, "ユーザーID" %>
          <%= f.text_field :name %>

          <%= f.label :email, "メールアドレス" %>
          <%= f.email_field :email %>

          <%= f.label :profile, "自己紹介文" %>
          <%= f.text_field :profile %>

          <img src="<%= "#{@user.picture}" %>">
          <%= react_component('Preview') %>

          <%= f.submit "更新", class: "btn" %>
        <% end %>
      </div>
  </div>

  </body>
</html>