<header>
  <%= link_to image_tag("ぱぱらちあ.jpg", class:"logo"), "/" %>
  <p class="site-introduction">サイト紹介的な文章</p>

  <div class="search">
    <form action="#" method="get">
          <input type="text" name="name" >
        </form>
          <%= link_to "高度な検索", '#'%>
      </div>

      <% if logged_in? %>
        <%= link_to "プロフィール", current_user, class:"nav-link btn" %>
        <%= link_to "ログアウト", logout_path, method: :delete, class:"nav-link btn" %>
      <% else %>
        <%= link_to "ログイン", login_path, class:"nav-link btn" %>
        <%= link_to "サインイン", signup_path, class:"nav-link btn", 
            data: {"turbolinks" => false} %>
      <% end %>
</header>